@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700&display=swap&subset=latin-ext');

$dark: #171717;
$light: #fff;
$attention: rgb(255, 69, 0);
$main-color: #2c2141;

$default-font: 'Roboto', sans-serif;
$special-font: 'Lato', sans-serif;

html {
    box-sizing: border-box;
    color: $light;
    background-color: $light;
    font-size: 10px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    max-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 2rem;
    font-family: $default-font;
    background-color: $main-color;
    border: solid $dark 3px;
}

.logo {
    flex-basis: 200px;
    
    &__image {
        display: block;
        width: 100%;
    }
}